<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CSS Modules Practise</title>
    <link rel="stylesheet" href="{%= o.htmlWebpackPlugin.files.chunks.index.css %}">
  </head>
  <body>
    <div id="outlet"></div>
    <script src="{%= o.htmlWebpackPlugin.files.chunks.index.entry %}"></script>
  </body>
</html>
